[submodule "deps/llvm"]
	path = deps/llvm
	url = http://llvm.org/git/llvm.git
[submodule "deps/clang"]
	path = deps/clang
	url = http://llvm.org/git/clang.git
[submodule "deps/compiler-rt"]
	path = deps/compiler-rt
	url = http://llvm.org/git/compiler-rt.git
