#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.exe
*.bc
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.sdf
*.opensdf
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
/build/vs2013/gen/
/build/vs2013/runtime/*/
/build/vs2013/lib/
/build/gmake
/deps/mingw32
/deps/mingw64
/tools/swig
/src/SharpLang.Compiler.Tests/tests-codegen/output/